Source: ros-jade-schunk-pg70
Section: misc
Priority: extra
Maintainer: Frantisek Durovsky <frantisek.durovsky@smartroboticsys.eu>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-message-generation, ros-jade-roscpp, ros-jade-serial, ros-jade-tf
Homepage: http://www.smartroboticsys.eu/
Standards-Version: 3.9.2

Package: ros-jade-schunk-pg70
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-roscpp, ros-jade-serial, ros-jade-tf
Description: Xacro model and RS232 control node for basic communication with Schunk PG70 gripper
