Source: ros-jade-schunk-grippers
Section: misc
Priority: extra
Maintainer: Frantisek Durovsky <frantisek.durovsky@smartroboticsys.eu>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin
Homepage: http://ros.org/wiki/schunk_grippers
Standards-Version: 3.9.2

Package: ros-jade-schunk-grippers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-schunk-ezn64, ros-jade-schunk-pg70
Description: Schunk_grippers stack contains packages for PG70 and EZN64 grippers
